.social-login 
    button.social-login--github
        a(href=routes.github) 
            span
                i.fab.fa-github
            |  Github로 로그인
    button.social-login--facebook 
        a(href=routes.facebook)
            span 
                i.fab.fa-facebook
            |  Facebook으로 로그인
