.header {
  background-color: $red;
  margin-bottom: 50px;
}
.header__wrapper {
  padding: 5px 0px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
